{
  "client_first_name": "{{ client_first_name }}",
  "client_last_name": "{{ client_last_name }}",
  "client_email": "{{ client_email }}",
  "member_id": "{{ member_id }}",
  "subscription_id": "{{ new_subscription_id }}",
  "plan_title": "{{ new_plan_title }}"
}
