{
  "server_path_postgres_dump": "/chroot/export/{{ server_path_postgres_dump.stdout_lines[0] }}",
  "subscription_id": "{{ new_subscription_id }}",
  "member_id": "{{ member_id }}",
  "target": "matrix.{{ matrix_domain }}",
  "matrix_domain": "{{ matrix_domain }}",
  "matrix_awx_enabled": "true"
}
