{
  "matrix_domain": "{{ matrix_domain }}",
  "base_domain_used": "{{ base_domain_used }}",
  "awx_element_subdomain": "{{ awx_element_subdomain }}",
  "do_droplet_region_long": "{{ do_droplet_region_long }}"
}
