{
  "matrix_domain": "{{ matrix_domain }}",
  "base_domain_used": "{{ base_domain_used }}",
  "awx_element_subdomain": "{{ awx_element_subdomain }}",
  "server_ipv4": "{{ server_ipv4 }}",
  "server_ipv6": "{{ server_ipv6 }}"
}
